header nav .inner-container .nav-basket .burger-menu {
    position: fixed;
    top: 0;
    padding: 35px 30px;
    background-color: #f6f6f6;
    transition: .6s;
    right: -500px;
    height: 100%;
    width: 250px;
}

header nav .inner-container .nav-basket .burger-menu .burger-menu-close {
    cursor: pointer;
    width: 30px;
    height: 30px;
    padding: 15px;
    position: absolute;
    top: 0;
    left: -30px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
}

header nav .inner-container .nav-basket .burger-menu .burger-menu-close i {
    color: white;
}

header nav .inner-container .nav-basket .burger-menu .burger-menu-input input {
    font-size: 14px;
    width: 100%;
    height: 50px;
    border: none;
    background-color: #f6f6f6;
    padding: 15px;
}

header nav .inner-container .nav-basket .burger-menu .burger-menu-input i {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    padding: 15px;
    border: none;
    background-color: #f6f6f6;
    border-left: 1px solid gray;
}

header nav .inner-container .nav-basket .burger-menu .burger-menu-list-menu-container .burger-menu-list-menu a {
    color: black;
}

header nav .inner-container .nav-basket .burger-menu .burger-menu-list-menu-container .burger-menu-list-menu .burger-menu-list-menu-item {
    overflow: hidden;
}

header nav .inner-container .nav-basket .burger-menu .burger-menu-list-menu-container .burger-menu-list-menu .burger-menu-list-menu-item .burger-dropdown {
    transition: .4s;
    font-size: 14px;
    max-height: 0;
}

header nav .inner-container .nav-basket .burger-menu .burger-menu-list-menu-container i {
    font-size: 12px !important;
}

header nav .inner-container .nav-basket .burger-menu .burger-menu-list-footer-container .burger-menu-list-footer a {
    color: black;
}

header nav .inner-container .nav-basket .burger-menu .burger-menu-list-footer-container .burger-menu-list-footer i {
    font-size: 12px;
}

.burgerActive {
    right: 0 !important;
    z-index: 33333;
}

.overlayActive {
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: rgba(35, 35, 36, 0.7) none repeat scroll 0 0;
    z-index: 2222;
}

